<form class="form-horizontal">
    <fieldset>

        <!-- Form Name -->
        <legend>Filter Akt</legend>

        <!-- Textarea -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="novakt"></label>
            <div style="width: 98%; height: 100%;">
                <textarea rows="25"class="form-control" id="novakt" name="novakt" ng-model="filter"></textarea>
            </div>
            <div style="margin:20px;">
                <button class="btn btn-success" ng-click="filtriraj()">Potvrdi</button>
                <button class="btn btn-danger">Odustani</button>
            </div>
        </div>

    </fieldset>
</form>

<style>
    #novakt{
        font-size: 12px;
        resize: none;
        overflow: auto;
        border: 1px solid blue;
        margin: 10px;
    }
</style>