<div class="table-responsive">


    <div ng-include src="'toolbar/toolbar.html'"></div>
    <div>Pretrazi akate po tekstu : <input ng-model="filterText" type="text"><input type="submit" value = "Filtriraj" ng-click="filtriraj()"> </div>
    <div>Pretrazi akate po metapodacima : <input ng-model="filterText" type="text"><select>
        <option value="volvo">Volvo</option>
        <option value="saab">Saab</option>
        <option value="mercedes">Mercedes</option>
        <option value="audi">Audi</option>
    </select><input type="submit" value = "Filtriraj" ng-click="filtriraj()"> </div>
    <br/>
    <div>
        <div class="divForGrid">
            <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        </div>
        <br />
        <br />
    <div>
       

    
    
</div>