<div class="table-responsive">
    <br />
    <!--
    <div ng-include src="'AngularClient/toolbar/toolbar.html'"></div>
    <br/>
    
    <button ui-sref="drzavaDodavanje">Dodaj novu drzavu</button>
    <br />
    <button ng-click="predjiNaFormu()">izmeni drzavu</button>
    <br />
    <button ng-click="obrisiDrzavu()">Obrisi drzavu</button>
    <br />
        
    <br />

    -->
    
    <div>
        <div class="divForGrid">
            <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        </div>
        <br />
        <br />
    <div>
        

    <br />
    
    <br/>
    <div>Popara</div>
    
</div>