
    <div class="modal-header">
        <h3 class="modal-title">Promena stanja</h3>
    </div>
    <div class="modal-body">

        <h2>Izaberite stanje  :  </h2>
        
        <input type="radio" ng-model="state.state" value="Predlaganje akata">  Predlaganje akata <br/>
        <input type="radio" ng-model="state.state" value="Predlaganje amandmana"> Predlaganje amandmana <br/>
        <input type="radio" ng-model="state.state" value="Glasanje"> Glasanje <br/>
        
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="potvrdiPromenuStanja()">Potvrda</button>
        <button class="btn btn-warning" type="button" ng-click="odustani()">Odustani</button>

    </div>