<div class="table-responsive">
    
    <div ng-include src="'toolbar/toolbar.html'"></div>
    <br/>
    {{message}}
    <!--
    <button ui-sref="drzavaDodavanje">Dodaj novu drzavu</button>
    <br />
    <button ng-click="predjiNaFormu()">izmeni drzavu</button>
    <br />
    <button ng-click="obrisiDrzavu()">Obrisi drzavu</button>
    <br />
        
    <br />



    
    <div>
        <div class="divForGrid">
            <div ui-grid="gridOptions" ui-grid-selection class="grid"></div>
        </div>
        <br />
        <br />
        <div>
            <uib-pagination style="margin: 0px;" total-items="totalItems" ng-model="currentPage" ng-change="pageChanged()"></uib-pagination>
        </div>
        <div ng-include src="'toolbar/toolbar.html'"></div>
    </div>
    
    -->

    
    
</div>