<form class="form-horizontal">

    <h3><!-- Form Name -->
        <legend>Sign Up</legend> </h3>
    <uib-alert type="danger" ng-if="alertMessage">{{ alertMessage }}</uib-alert>
    <fieldset>



        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Ime</label>
            <div class="col-md-4">
                <input ng-model ="korisnik.ime" id="textinput" name="textinput" placeholder="Unesite ime" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Prezime</label>
            <div class="col-md-4">
                <input ng-model ="korisnik.prezime" id="textinput1" name="textinput" placeholder="Unosite prezime" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Korisnicko ime</label>
            <div class="col-md-4">
                <input ng-model ="korisnik.username" id="textinput2" name="textinput" placeholder="Unesite korisnicko ime" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Text input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="textinput">Email</label>
            <div class="col-md-4">
                <input ng-model ="korisnik.email" id="textinput3" name="textinput" placeholder="Unesite Email adresu" class="form-control input-md" type="text">

            </div>
        </div>

        <!-- Multiple Radios -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="radios">Uloga</label>
            <div class="col-md-4">
                <div class="radio">
                    <label for="radios-0">
                        <input ng-model = "ulogaKorisnika_"  name="radios" id="radios-0" value="predsednik"  type="radio">
                        Predsednik skupstine
                    </label>
                </div>
                <div class="radio">
                    <label for="radios-1">
                        <input ng-model = "ulogaKorisnika_" name="radios" id="radios-1" value="odbornik" type="radio">
                        Odbornik
                    </label>
                </div>
            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Sifra</label>
            <div class="col-md-4">
                <input ng-model ="korisnik.password" id="passwordinput" name="passwordinput" placeholder="Unesite sifru" class="form-control input-md" type="password">

            </div>
        </div>

        <!-- Password input-->
        <div class="form-group">
            <label class="col-md-4 control-label" for="passwordinput">Sifra ( potvrda )</label>
            <div class="col-md-4">
                <input ng-model ="repeatPassword" id="passwordinput1" name="passwordinput" placeholder="Ponovite unos sifre" class="form-control input-md" type="password">

            </div>
        </div>

        <!-- Button (Double) -->
        <div class="form-group">
            <label class="col-md-4 control-label" for="button1id"></label>
            <div class="col-md-8">
                <button ng-click="signUp()" id="button1id" name="button1id" class="btn btn-success">Potvrdi</button>
                <button id="button2id" name="button2id" class="btn btn-danger">Odustani</button>
            </div>
        </div>

    </fieldset>
</form>
